<!DOCTYPE html>
<!-- Ayuda con edición html https://www.w3schools.com/howto/default.asp -->
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/form-styles.css">
</head>
<body>

<div class="topnav">
  <a href="/" onclick="setActive(this)" th:text="#{navbar.home}">Home</a>
  <a href="/consentimientos/facultativo" onclick="setActive(this)" th:text="#{navbar.practitioner}">Practitioner</a>
  <a href="/consentimientos/paciente/pendientes" onclick="setActive(this)" th:text="#{navbar.patient}">Patient</a>
  <a class="active" href="/questionnaire" onclick="setActive(this)" th:text="#{navbar.questionnaire}"/>
  <a href="/logout" onclick="setActive(this)" th:text="#{navbar.logout}">Logout</a>
</div>
</body>
</html>