<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title th:text="#{tasks.potentialTasks}"></title>
	<link rel="stylesheet"th:href="@{/css/tasks-styles.css}">
	<!-- Autor: Marco Antonio Maldonado Orozco -->
</head>
<body>
	<script th:src="@{/js/taskActions.js}"></script>
   <div class="header">
        <button class="back-button" onclick="window.location.href='/tasks/tasks'" th:text="#{back}"></button>
    	<h1 th:text="#{tasks.potentialTasks}"></h1>
    </div>
    <table>
        <thead>
            <tr>
                <th th:text="#{tasks.name}"></th>
                <th th:text="#{tasks.creationDate}"></th>
                <th th:text="#{tasks.actions}"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.name}"></td>
                <td th:text="${#dates.format(task.createdOn, 'yyyy/MM/dd HH:mm:ss')}"></td>
                <td class="actions">
                    <form method="post" action="/tasks/claim">
                        <input type="hidden" name="taskId" th:value="${task.id}">
                        <input type="hidden" name="containerId" th:value="${task.containerId}">
                        <button type="submit" th:text="#{tasks.claim}"></button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
