<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{tasks.title}"></title>
    <link rel="stylesheet" href="../css/allTasks-styles.css">
	<!-- Autor: Marco Antonio Maldonado Orozco -->
</head>
<body>
    <div class="container">
        <h1 th:text="#{tasks.title}"></h1>
        <div id="alertBox" th:if="${message}" th:class="${'floating-alert-' + alertClass}" th:text="#{${message}}"></div>
        <div class="button-container">
            <button onclick="window.location.href='/tasks/assignedTasks'" th:text="#{tasks.assignedTasks}"></button>
            <button onclick="window.location.href='/tasks/potentialTasks'" th:text="#{tasks.potentialTasks}"></button>
        </div>
    </div>
    <script>
        window.onload = function() {
            var alertBox = document.getElementById("alertBox");
            if (alertBox) {
                alertBox.style.display = 'block';
                setTimeout(function() {
                    alertBox.style.display = 'none';
                }, 4000); // Esconder después de 5 segundos
            }
        };
    </script>
</body>
</html>