<div th:fragment="datetime">
  <label th:text="${item.text}" class="question-title"/>
   <!-- Este contenedor es para identificar donde se insertarán los inputs, su nombres es linkId de la pregunta + -tipo_de_input + -container -->
  <div  th:id="${item.linkId + '~datetime-local-container'}">  
    <input type="datetime-local" th:id="${item.linkId}" th:name="${item.linkId + '~datetime'}" th:required="${item.required}" />
  </div>
  <!-- Si repeats es true, permite la entrada de múltiples fechas añadiendolas conforme sea necesario-->
  <th:block th:if="${item.repeats}">
	<input type="button" th:value="#{question.addOtherAnswer}" th:attr="onclick='agregarOtroInput(\'' + ${item.linkId} + '\', \'datetime-local\')'"/>
  </th:block>
</div>